[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "6.2.0"
schemathesis = "2.8.4"
hypothesis = "5.43.3"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
test = "pytest"
