openapi: "3.0.0"

info:
  title: OpenAlchemy Editor
  description: API backing the OpenAlchemy web editor
  version: "0.1"

servers:
  - url: https://editor.api.openalchemy.io/v1

paths:
  /spec/validate-managed:
    post:
      summary: Validate the managed parts of an OpenAPI spec against OpenAlchemy expectations
      operationId: library.spec.validate_managed
      parameters:
        - $ref: "#/components/parameters/Language"
      requestBody:
        description: The OpenAPI spec to validate
        required: true
        content:
          text/plain:
            schema:
              $ref: "#/components/schemas/SpecValue"
      responses:
        200:
          description: The validation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationResponse"
  /spec/validate-un-managed:
    post:
      summary: Validate the un managed parts of an OpenAPI spec against OpenAlchemy expectations
      operationId: library.spec.validate_un_managed
      parameters:
        - $ref: "#/components/parameters/Language"
      requestBody:
        description: The OpenAPI spec to validate
        required: true
        content:
          text/plain:
            schema:
              $ref: "#/components/schemas/SpecValue"
      responses:
        200:
          description: The validation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationResponse"
  /artifact/calculate:
    post:
      summary: Calculate the OpenAlchemy artifacts from the spec
      operationId: library.artifact.calculate
      parameters:
        - $ref: "#/components/parameters/Language"
      requestBody:
        description: The OpenAPI spec to validate
        required: true
        content:
          text/plain:
            schema:
              $ref: "#/components/schemas/SpecValue"
      responses:
        200:
          description: The artifacts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactResponse"
        400:
          description: The spec is not valid
          content:
            text/plain:
              schema:
                type: string
  /seed:
    get:
      summary: Retrieve the default seed
      operationId: library.seed.get
      responses:
        200:
          description: The default seed
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/SeedValue"
        500:
          description: The default seed was not set
          content:
            text/plain:
              schema:
                type: string
  /seeds:
    get:
      summary: Get all the available seeds
      operationId: library.seeds.list_
      responses:
        200:
          description: All available seeds
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Seed"
  /seeds/{seed_path}:
    get:
      summary: Get the value of a seed
      operationId: library.seeds.get
      parameters:
        - in: path
          name: seed_path
          schema:
            $ref: "#/components/schemas/SeedPath"
          required: true
          description: The id of the seed, must be URL encoded
      responses:
        200:
          description: The seed value
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/SeedValue"
        404:
          description: The seed was not found
          content:
            text/plain:
              schema:
                type: string
            application/problem+json:
              schema:
                type: object

components:
  parameters:
    Language:
      in: header
      name: X-LANGUAGE
      description: The language of the spec
      required: true
      schema:
        type: string
        enum:
          - JSON
          - YAML
  schemas:
    SeedName:
      description: The name of a seed.
      type: string
    SeedPath:
      description: The path to a seed.
      type: string
      format: path
    Seed:
      description: Information about a seed
      type: object
      properties:
        name:
          $ref: "#/components/schemas/SeedName"
        path:
          $ref: "#/components/schemas/SeedPath"
      required:
        - name
        - path
    SeedValue:
      description: The value of a seed.
      type: string
    SpecValue:
      description: The value of a spec.
      type: string
    ValidationResponseResult:
      description: Whether the spec is valid at the global, model or property level
      type: object
      properties:
        valid:
          description: Whether the spec is valid
          type: boolean
        reason:
          description: If the spec is not valid, the reason that it is not
          type: string
      required:
        - valid
    ValidationResponseProperty:
      description: The validation results for a property
      type: object
      properties:
        result:
          $ref: "#/components/schemas/ValidationResponseResult"
      required:
        - result
    ValidationResponseModel:
      description: The validation results for a model
      type: object
      properties:
        result:
          $ref: "#/components/schemas/ValidationResponseResult"
        properties:
          description: The results for all properties, included if the model is valid at the model level
          type: object
          additionalProperties:
            $ref: "#/components/schemas/ValidationResponseProperty"
      required:
        - result
    ValidationResponse:
      description: The validation results for the spec
      type: object
      properties:
        result:
          $ref: "#/components/schemas/ValidationResponseResult"
        models:
          description: The results for all models, included if the spec is valid at the global level
          type: object
          additionalProperties:
            $ref: "#/components/schemas/ValidationResponseModel"
      required:
        - result
    ArtifactResponseKwargs:
      description: Keyword arguments
      type: object
    ArtifactResponseDescription:
      description: A description for the model
      type: string
    ArtifactResponseRequired:
      description: Whether a property is required
      type: boolean
    ArtifactResponsePropertiesBase:
      description: Base for the definition of a property
      type: object
      properties:
        type:
          type: string
          enum:
            - SIMPLE
            - JSON
            - RELATIONSHIP
            - BACKREF
        required:
          $ref: "#/components/schemas/ArtifactResponseRequired"
        description:
          $ref: "#/components/schemas/ArtifactResponseDescription"
      required:
        - type
    ArtifactResponsePropertiesSimpleOpenApiType:
      description: The type for simple property
      type: string
    ArtifactResponsePropertiesSimpleOpenApiFormat:
      description: The format for simple property
      type: string
    ArtifactResponsePropertiesSimpleOpenApiMaxLength:
      description: The maxLength for simple property
      type: integer
    ArtifactResponsePropertiesSimpleOpenApiNullable:
      description: The nullable for simple property
      type: boolean
    ArtifactResponsePropertiesSimpleOpenApiDefault:
      description: The default for simple property
      oneOf:
        - type: integer
        - type: number
        - type: string
        - type: boolean
    ArtifactResponsePropertiesSimpleOpenApiReadOnly:
      description: The readOnly for simple property
      type: boolean
    ArtifactResponsePropertiesSimpleOpenApiWriteOnly:
      description: The writeOnly for simple property
      type: boolean
    ArtifactResponsePropertiesSimpleOpenApi:
      description: The OpenAPI artifacts for a simple property
      type: object
      properties:
        type:
          $ref: "#/components/schemas/ArtifactResponsePropertiesSimpleOpenApiType"
        format:
          $ref: "#/components/schemas/ArtifactResponsePropertiesSimpleOpenApiFormat"
        max_length:
          $ref: "#/components/schemas/ArtifactResponsePropertiesSimpleOpenApiMaxLength"
        nullable:
          $ref: "#/components/schemas/ArtifactResponsePropertiesSimpleOpenApiNullable"
        default:
          $ref: "#/components/schemas/ArtifactResponsePropertiesSimpleOpenApiDefault"
        read_only:
          $ref: "#/components/schemas/ArtifactResponsePropertiesSimpleOpenApiReadOnly"
        write_only:
          $ref: "#/components/schemas/ArtifactResponsePropertiesSimpleOpenApiWriteOnly"
      required:
        - type
    ArtifactResponsePropertiesSimpleExtensionPrimaryKey:
      description: The primary key for simple property
      type: boolean
    ArtifactResponsePropertiesSimpleExtensionAutoincrement:
      description: The autoincrement for simple property
      type: boolean
    ArtifactResponsePropertiesSimpleExtensionIndex:
      description: The index for simple property
      type: boolean
    ArtifactResponsePropertiesSimpleExtensionUnique:
      description: The unique for simple property
      type: boolean
    ArtifactResponsePropertiesSimpleExtensionServerDefault:
      description: The server default for simple property
      type: string
    ArtifactResponsePropertiesSimpleExtensionForeignKey:
      description: The server foreign key for simple property
      type: string
    ArtifactResponsePropertiesSimpleExtension:
      description: The extension artifacts for a simple property
      type: object
      properties:
        primary_key:
          $ref: "#/components/schemas/ArtifactResponsePropertiesSimpleExtensionPrimaryKey"
        autoincrement:
          $ref: "#/components/schemas/ArtifactResponsePropertiesSimpleExtensionAutoincrement"
        index:
          $ref: "#/components/schemas/ArtifactResponsePropertiesSimpleExtensionIndex"
        unique:
          $ref: "#/components/schemas/ArtifactResponsePropertiesSimpleExtensionUnique"
        server_default:
          $ref: "#/components/schemas/ArtifactResponsePropertiesSimpleExtensionServerDefault"
        foreign_key:
          $ref: "#/components/schemas/ArtifactResponsePropertiesSimpleExtensionForeignKey"
        kwargs:
          $ref: "#/components/schemas/ArtifactResponseKwargs"
        foreign_key_kwargs:
          $ref: "#/components/schemas/ArtifactResponseKwargs"
      required:
        - primary_key
    ArtifactResponsePropertiesSimpleType:
      description: The type for simple property
      type: string
      enum:
        - SIMPLE
    ArtifactResponsePropertiesSimple:
      description: The artifacts for a simple property
      allOf:
        - $ref: "#/components/schemas/ArtifactResponsePropertiesBase"
        - type: object
          properties:
            type:
              $ref: "#/components/schemas/ArtifactResponsePropertiesSimpleType"
            open_api:
              $ref: "#/components/schemas/ArtifactResponsePropertiesSimpleOpenApi"
            extension:
              $ref: "#/components/schemas/ArtifactResponsePropertiesSimpleExtension"
            required:
              $ref: "#/components/schemas/ArtifactResponseRequired"
          required:
            - type
            - open_api
            - extension
            - required
    ArtifactResponsePropertiesJsonOpenApi:
      description: The OpenAPI artifacts for a json property
      type: object
      properties:
        nullable:
          $ref: "#/components/schemas/ArtifactResponsePropertiesSimpleOpenApiNullable"
        read_only:
          $ref: "#/components/schemas/ArtifactResponsePropertiesSimpleOpenApiReadOnly"
        write_only:
          $ref: "#/components/schemas/ArtifactResponsePropertiesSimpleOpenApiWriteOnly"
    ArtifactResponsePropertiesJsonExtension:
      description: The extension artifacts for a Json property
      type: object
      properties:
        primary_key:
          $ref: "#/components/schemas/ArtifactResponsePropertiesSimpleExtensionPrimaryKey"
        index:
          $ref: "#/components/schemas/ArtifactResponsePropertiesSimpleExtensionIndex"
        unique:
          $ref: "#/components/schemas/ArtifactResponsePropertiesSimpleExtensionUnique"
        foreign_key:
          $ref: "#/components/schemas/ArtifactResponsePropertiesSimpleExtensionForeignKey"
        kwargs:
          $ref: "#/components/schemas/ArtifactResponseKwargs"
        foreign_key_kwargs:
          $ref: "#/components/schemas/ArtifactResponseKwargs"
      required:
        - primary_key
    ArtifactResponsePropertiesJsonType:
      description: The type for Json property
      type: string
      enum:
        - JSON
    ArtifactResponsePropertiesJson:
      description: The artifacts for a json property
      allOf:
        - $ref: "#/components/schemas/ArtifactResponsePropertiesBase"
        - type: object
          properties:
            type:
              $ref: "#/components/schemas/ArtifactResponsePropertiesJsonType"
            open_api:
              $ref: "#/components/schemas/ArtifactResponsePropertiesJsonOpenApi"
            extension:
              $ref: "#/components/schemas/ArtifactResponsePropertiesJsonExtension"
            required:
              $ref: "#/components/schemas/ArtifactResponseRequired"
            schema:
              type: object
          required:
            - type
            - open_api
            - extension
            - required
    ArtifactResponsePropertiesRelationshipBaseType:
      description: The type for a relationship
      type: string
      enum:
        - RELATIONSHIP
    ArtifactResponsePropertiesRelationshipBaseSubType:
      description: The sub type for a relationship
      type: string
      enum:
        - MANY_TO_ONE
        - ONE_TO_ONE
        - ONE_TO_MANY
        - MANY_TO_MANY
    ArtifactResponsePropertiesRelationshipBaseParent:
      description: The parent for a relationship
      type: string
    ArtifactResponsePropertiesRelationshipBaseBackrefProperty:
      description: The backref property for a relationship
      type: string
    ArtifactResponsePropertiesRelationshipBase:
      description: The base for all relationship artifacts
      allOf:
        - $ref: "#/components/schemas/ArtifactResponsePropertiesBase"
        - type: object
          properties:
            type:
              $ref: "#/components/schemas/ArtifactResponsePropertiesRelationshipBaseType"
            sub_type:
              $ref: "#/components/schemas/ArtifactResponsePropertiesRelationshipBaseSubType"
            parent:
              $ref: "#/components/schemas/ArtifactResponsePropertiesRelationshipBaseParent"
            backref_property:
              $ref: "#/components/schemas/ArtifactResponsePropertiesRelationshipBaseBackrefProperty"
            kwargs:
              $ref: "#/components/schemas/ArtifactResponseKwargs"
            write_only:
              $ref: "#/components/schemas/ArtifactResponsePropertiesSimpleOpenApiWriteOnly"
            required:
              $ref: "#/components/schemas/ArtifactResponseRequired"
          required:
            - sub_type
            - parent
            - required
    ArtifactResponsePropertiesRelationshipNotManyToManySubType:
      description: The sub type for a relationship that is not many to many
      type: string
      enum:
        - MANY_TO_ONE
        - ONE_TO_ONE
        - ONE_TO_MANY
    ArtifactResponsePropertiesRelationshipNotManyToManyForeignKeyProperty:
      description: The foreign key property for a relationship that is not many to many
      type: string
    ArtifactResponsePropertiesRelationshipNotManyToMany:
      description: The base for all not many-to-many relationship artifacts
      allOf:
        - $ref: "#/components/schemas/ArtifactResponsePropertiesRelationshipBase"
        - type: object
          properties:
            sub_type:
              $ref: "#/components/schemas/ArtifactResponsePropertiesRelationshipNotManyToManySubType"
            foreign_key:
              $ref: "#/components/schemas/ArtifactResponsePropertiesSimpleExtensionForeignKey"
            foreign_key_property:
              $ref: "#/components/schemas/ArtifactResponsePropertiesRelationshipNotManyToManyForeignKeyProperty"
          required:
            - foreign_key
            - foreign_key_property
            - sub_type
    ArtifactResponsePropertiesRelationshipOneToManySubType:
      description: The sub type for a relationship that is one to many
      type: string
      enum:
        - ONE_TO_MANY
    ArtifactResponsePropertiesRelationshipOneToMany:
      description: The artifacts for a one to many relationship
      allOf:
        - $ref: "#/components/schemas/ArtifactResponsePropertiesRelationshipNotManyToMany"
        - type: object
          properties:
            sub_type:
              $ref: "#/components/schemas/ArtifactResponsePropertiesRelationshipOneToManySubType"
          required:
            - sub_type
    ArtifactResponsePropertiesRelationshipXToOneSubType:
      description: The sub type for a relationship that is x to one
      type: string
      enum:
        - MANY_TO_ONE
        - ONE_TO_ONE
    ArtifactResponsePropertiesRelationshipXToOne:
      description: The artifacts for a x to one relationship
      allOf:
        - $ref: "#/components/schemas/ArtifactResponsePropertiesRelationshipNotManyToMany"
        - type: object
          properties:
            sub_type:
              $ref: "#/components/schemas/ArtifactResponsePropertiesRelationshipXToOneSubType"
            nullable:
              $ref: "#/components/schemas/ArtifactResponsePropertiesSimpleOpenApiNullable"
          required:
            - sub_type
    ArtifactResponsePropertiesRelationshipManyToOneSubType:
      description: The sub type for a relationship that is many to one
      type: string
      enum:
        - MANY_TO_ONE
    ArtifactResponsePropertiesRelationshipManyToOne:
      description: The artifacts for a many to one relationship
      allOf:
        - $ref: "#/components/schemas/ArtifactResponsePropertiesRelationshipXToOne"
        - type: object
          properties:
            sub_type:
              $ref: "#/components/schemas/ArtifactResponsePropertiesRelationshipManyToOneSubType"
          required:
            - sub_type
    ArtifactResponsePropertiesRelationshipOneToOneSubType:
      description: The sub type for a relationship that is one to one
      type: string
      enum:
        - ONE_TO_ONE
    ArtifactResponsePropertiesRelationshipOneToOne:
      description: The artifacts for a one to one relationship
      allOf:
        - $ref: "#/components/schemas/ArtifactResponsePropertiesRelationshipXToOne"
        - type: object
          properties:
            sub_type:
              $ref: "#/components/schemas/ArtifactResponsePropertiesRelationshipOneToOneSubType"
          required:
            - sub_type
    ArtifactResponsePropertiesRelationshipManyToManySubType:
      description: The sub type for a relationship that is many to many
      type: string
      enum:
        - MANY_TO_MANY
    ArtifactResponsePropertiesRelationshipManyToManySecondary:
      description: The secondary for a relationship that is many to many
      type: string
    ArtifactResponsePropertiesRelationshipManyToMany:
      description: The artifacts for a many to many relationship
      allOf:
        - $ref: "#/components/schemas/ArtifactResponsePropertiesRelationshipBase"
        - type: object
          properties:
            sub_type:
              $ref: "#/components/schemas/ArtifactResponsePropertiesRelationshipManyToManySubType"
            secondary:
              $ref: "#/components/schemas/ArtifactResponsePropertiesRelationshipManyToManySecondary"
          required:
            - sub_type
            - secondary
    ArtifactResponsePropertiesRelationship:
      oneOf:
        - $ref: "#/components/schemas/ArtifactResponsePropertiesRelationshipManyToOne"
        - $ref: "#/components/schemas/ArtifactResponsePropertiesRelationshipOneToOne"
        - $ref: "#/components/schemas/ArtifactResponsePropertiesRelationshipOneToMany"
        - $ref: "#/components/schemas/ArtifactResponsePropertiesRelationshipManyToMany"
    ArtifactResponsePropertiesBackrefType:
      description: The type for backref property
      type: string
      enum:
        - BACKREF
    ArtifactResponsePropertiesBackrefSubType:
      description: The sub type for backref property
      type: string
      enum:
        - OBJECT
        - ARRAY
    ArtifactResponsePropertiesBackref:
      description: The artifacts for a backref property
      allOf:
        - $ref: "#/components/schemas/ArtifactResponsePropertiesBase"
        - type: object
          properties:
            type:
              $ref: "#/components/schemas/ArtifactResponsePropertiesBackrefType"
            sub_type:
              $ref: "#/components/schemas/ArtifactResponsePropertiesBackrefSubType"
            properties:
              type: array
              items:
                type: string
            schema:
              type: object
          required:
            - type
            - sub_type
            - properties
            - schema
    ArtifactResponseProperties:
      description: The artifacts for a property
      type: object
      properties:
        artifacts:
          type: object
          additionalProperties:
            oneOf:
              - $ref: "#/components/schemas/ArtifactResponsePropertiesSimple"
              - $ref: "#/components/schemas/ArtifactResponsePropertiesJson"
              - $ref: "#/components/schemas/ArtifactResponsePropertiesRelationship"
              - $ref: "#/components/schemas/ArtifactResponsePropertiesBackref"
    ArtifactResponseModelTablename:
      description: The name of the table for the schema
      type: string
    ArtifactResponseModelInherits:
      description: Whether the model inherits
      type: boolean
    ArtifactResponseModelParent:
      description: The name of the parent if the model inherits
      type: string
    ArtifactResponseModelMixins:
      description: Base classes mixed into the model
      type: array
      items:
        type: string
    ArtifactResponseModelIndex:
      description: Index for the model
      type: object
      properties:
        expressions:
          type: array
          items:
            type: string
        name:
          type: string
        unique:
          type: boolean
      required:
        - expressions
    ArtifactResponseModelCompositeIndex:
      description: Indexes for the model
      type: array
      items:
        $ref: "#/components/schemas/ArtifactResponseModelIndex"
    ArtifactResponseModelUnique:
      description: Unique index for the model
      type: object
      properties:
        columns:
          type: array
          items:
            type: string
        name:
          type: string
      required:
        - columns
    ArtifactResponseModelCompositeUnique:
      description: Indexes for the model
      type: array
      items:
        $ref: "#/components/schemas/ArtifactResponseModelIndex"
    ArtifactResponseModelArtifacts:
      description: The artifacts for a model
      type: object
      properties:
        tablename:
          $ref: "#/components/schemas/ArtifactResponseModelTablename"
        inherits:
          $ref: "#/components/schemas/ArtifactResponseModelInherits"
        parent:
          $ref: "#/components/schemas/ArtifactResponseModelParent"
        description:
          $ref: "#/components/schemas/ArtifactResponseDescription"
        mixins:
          $ref: "#/components/schemas/ArtifactResponseModelMixins"
        kwargs:
          $ref: "#/components/schemas/ArtifactResponseKwargs"
        composite_index:
          $ref: "#/components/schemas/ArtifactResponseModelCompositeIndex"
        composite_unique:
          $ref: "#/components/schemas/ArtifactResponseModelCompositeUnique"
      required:
        - tablename
    ArtifactResponseModel:
      description: The artifacts for a model
      type: object
      properties:
        artifacts:
          description: The artifacts for a model
          type: object
          properties:
            artifacts:
              $ref: "#/components/schemas/ArtifactResponseModelArtifacts"
            properties:
              type: object
              additionalProperties:
                $ref: "#/components/schemas/ArtifactResponseProperties"
          required:
            - artifacts
    ArtifactResponseModels:
      description: The artifacts for all models
      type: object
      additionalProperties:
        $ref: "#/components/schemas/ArtifactResponseModel"
    ArtifactResponse:
      description: The artifacts for the spec
      type: object
      properties:
        models:
          $ref: "#/components/schemas/ArtifactResponseModels"
