<h1>Specification Information</h1>
<p>
  <ng-container *ngIf="specInfo?.title"
    ><span [attr.test-id]="selector + '.title'"
      >title: {{ specInfo.title }}</span
    ><br
  /></ng-container>
  <ng-container *ngIf="specInfo?.version?.value"
    ><span [attr.test-id]="selector + '.version'"
      >version: {{ specInfo.version.value }}</span
    ><br
  /></ng-container>
  <ng-container *ngIf="specInfo?.description"
    ><span [attr.test-id]="selector + '.description'"
      >description: {{ specInfo.description }}</span
    ><br
  /></ng-container>
</p>
