<h2>Package</h2>
<p>
  Save this specification to install the models using pip.<br />

  <app-check
    [description]="'package version (based on specification) valid:'"
    [value]="spec?.info?.version?.valid === true"
    [hint]="versionHint"
    [attr.test-id]="selector + '.version-valid'"
  ></app-check
  ><br />

  <mat-form-field>
    <mat-label>Package name</mat-label>
    <input
      [attr.test-id]="selector + '.input'"
      matInput
      value="{{ spec?.info?.proposedName }}"
    /> </mat-form-field
  ><br />
  <button
    mat-raised-button
    color="primary"
    [disabled]="
      !(
        spec?.info?.version?.valid === true &&
        spec?.beingEdited === false &&
        spec?.valid === true
      )
    "
    [attr.test-id]="selector + '.save'"
  >
    Save</button
  ><br />
</p>
