<h2>Package</h2>
<p>
  Save this specification to install the models using pip.<br />

  <span class="version-valid" [attr.test-id]="selector + '.version-valid'"
    >package version (based on specification) valid:
    <mat-chip
      *ngIf="spec?.info?.version?.valid"
      class="badge"
      color="primary"
      selected
      >yes</mat-chip
    ><mat-chip
      *ngIf="!spec?.info?.version?.valid"
      color="warn"
      class="badge"
      selected
      >no</mat-chip
    >
    <span
      *ngIf="!spec?.info?.version?.valid"
      [attr.test-id]="selector + '.version-help'"
      >please define the version as described here:
      <a href="https://swagger.io/specification/#info-object"
        >Open API Info Object</a
      ></span
    ></span
  ><br />

  <mat-form-field>
    <mat-label>Package name</mat-label>
    <input
      [attr.test-id]="selector + '.input'"
      matInput
      value="{{ spec?.info?.proposedName }}"
    /> </mat-form-field
  ><br />
  <button
    mat-raised-button
    color="primary"
    [disabled]="!spec?.info?.version?.valid"
    [attr.test-id]="selector + '.save'"
  >
    Save</button
  ><br />
</p>
