[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
connexion = {extras = ["swagger-ui"], version = "2.7.0"}
openalchemy = "2.1.0"
pyyaml = "5.3.1"
serverless-wsgi = "1.7.6"
flask-cors = "3.0.10"

[dev-packages]
black = "20.861"
pytest = "6.2.0"
schemathesis = "3.0.2"
pytest-cov = "2.10.1"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true

[scripts]
test = "pytest"
